.donut {
    margin: 0 auto;
    width: 100%;
}

.chartText {
    font: 12px "Open Sans", sans-serif;
    fill: #000;
    -moz-transform: translateY(0.10em);
    -ms-transform: translateY(0.10em);
    -webkit-transform: translateY(0.10em);
    transform: translateY(0.10em);
}

.chartLabel{
    font-size: 0.3em;
    line-height: 1.4;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.chartNumber {
    font-size: 0.4em;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}